<!DOCTYPE html>
<html lang="en">
<head>
  <title>GroceryData</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_customer %>
  Signed in as <%= current_customer.name %> | <%= link_to 'Sign out', '/signout' %>
<% else %>
  <%= link_to 'Sign in', '/signin' %> | <%= link_to 'Sign up', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>
